.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.home .title {
  line-height: 1.15;
  font-size: 4rem;
}

.home .title a {
  color: #0070f3;
  text-decoration: none;
}

.home .title a:hover, .home .title a:focus, .home .title a:active {
  text-decoration: underline;
}

.home .container {
  display: flex;
}

.home .left {
  width: 50%;
  height: 100vh;
}

.home .right {
  width: 50%;
  padding: 10px;
}

.home .formContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%;
  padding: 20px;
  padding-left: 10px;
}

.home .signUpButton {
  border-radius: 20px;
  background-color: #378FEE;
  color: white;
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}

.home .signInButton {
  border-radius: 20px;
  border: 1px solid #378FEE;
  background-color: black;
  color: #378FEE;
  width: 70%;
  padding: 10px;
}

.home .text {
  text-align: left;
  margin-bottom: 10px;
}

.home .titleh1 {
  font-size: 70px;
}

.home .titleh2 {
  font-size: 30px;
}

.home .twitterLogo {
  width: 8%;
  height: 8%;
}

.home .popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.home .formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 20px;
  padding-left: 10px;
}

.home .inputText {
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.home .signInButton,
.home .signUpButton {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}
